html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 18vh;
}

.primary-text-container {
    height: auto;/*300px*/
    width: 100%;
    padding: 50px;
    /*
    margin-top: 30px;
    */
}

.primary-text-container h1 {
    font-size: 50px;
}

.profile-pic-container { 
    padding: 50px;    
}

.profile-pic-container img {
    height: 300px;
    width: 300px;
}

.primary-content-container, .second-content-container  {
    
    display: flex;
    justify-content: center;
    
    padding-left: 20vw;
    padding-right: 20vw;
    
    /*
    position: relative;
    */
}

.second-content-container, .third-content-container, .fourth-content-container {
    padding: 10px;
    height: 300px;
    width: 100%;
    text-align: center;
}

.second-content-container, .fourth-content-container {
    background-color: #51ff93; 
}
