* {
	font-family: "Montserrat", sans-serif;
	padding: 0;
	margin: 0;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 35vh; /*18vh*/
}

a {
    color: inherit;
}

footer {
    position: absolute;
}


.error-container {
    text-align: center;
}

.error-container h2 {
    font-size: calc(1.1em + 0.25vw);

}

.error-container p {
    font-size: calc(0.75em + 0.25vw);
}

.error-container img {
    height: 30vh; /*30vh*/
    width: auto; 
}

.return-btn-container {
    justify-content: center;
}

.return-button {
    text-align: center;
    margin: auto;
    width: calc(120px + 5vw);
    padding: calc(10px + 0.5vw); /*2vw*/
    border-radius: 40px;
    background-color: #FC5200;
    color: white;
    font-size: calc(0.75em + 0.25vw);
    text-decoration: none;
}

.page-container {
    position: relative;
}
