@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
	font-family: "Montserrat", sans-serif;
	padding: 0;
	margin: 0;
}

a {
    text-decoration: none;
}

.nav-container { 
    padding: 30px calc(0px + 3vw) 30px calc(15px + 3vw); /*30px*/
}

.logo-container { 
    position: absolute;
}

.logo-img { 
    height: auto;
    width: 8vh; 
}

.logo-name {
    position: absolute;
    z-index: -1;
    top: 3.5vh;
    font-size: 2.45vh;
    color: #785ef0;
}

/*hover animation*/
.logo-container:hover {
    .logo-name {
        z-index: 0;
        transform: translateX(125%);
        transition: 1s;
    }
}

.logo-container:not(:hover) {
    .logo-name { 
        transform: translateX(0%);
        transition: 1s;
        z-index: -1;
    }  
}

/*Navbar*/
.nav-right {
    float: right;
    padding: 20px; /*20px*/
}
.clear { clear:both; }


.nav-right form {
    display: inline;
}

.nav-right button {
    border: none;
    cursor: pointer; 
    background: none;
    padding: calc(12px + 0.5vw); /*10px 20px*/
    font-size: calc(12px + 1vw); /*2.45vh*/
    color: black;

}

.nav-right button:hover {
    transition: all 1s ease 0s;
    background-color: rgba(30, 38, 38, 0.05);
}