@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
	font-family: "Montserrat", sans-serif;
	padding: 0;
	margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 18vh;
}

.container {
    padding: 10px;
}

footer {
    position: absolute
}

.title { 
    padding-top: 20px;
    font-size: 2.5vw; /*Originally: 30px*/
    color: #FC5200;
    text-align: center;
}

.form-container { 
    padding-top: 20px;
    text-align: center;
    margin-bottom: 40px;
}

#route-title {
    font-size: 30px;
}

#route-src {
    width: 500px;
    height: 40px;
    padding: 10px;
}

#submit-button {
    width: 60px;
    height: 40px;
    border-radius: 5px;
    color: white;
    background-color: #FC5200;
}

.message-container {
   
    text-align: center;
    
}

.error-message {
    color: red;
}

.auth-message {
    color: #7cfc00;
}

.instructions-container {
    padding: 40px;
    position: relative;

}

.oauth-box {
    font-size: 1.5vw;
    color: black;
    text-align: center;

    padding: 2vw;
    margin-left: 35vw;
    margin-right: 35vw;
    border-radius: 20px;
    border: 3px solid black;

}

.oauth-container {
    padding: 50px;
}

#instructions-header {
    color: grey;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

