#map {
    height: 55vh; /*55vh*/
    width: 65%; /*65%*/
    /*float: left;
    position: absolute;*/
}

.marker-img {
    width: 300px;
    height: auto;
}

.marker-background h1 {
    color: blueviolet;
}

.info-container {
    float: right;
    height: 60vh; 
    width: 35vw;
    margin: 20px;
}

#halfway-desc {
    color: grey;
    font-size: 12.5px;
}

.flex-container {
    display: flex;
}

h1 {
}

.error-message {
    color: red;
}