#map {
    height: 600px; 
}

.marker-img {
    width: 300px;
    height: auto;
}

.marker-background {
    
}

h1 {
    color: blueviolet;
}

.error-message {
    color: red;
    text-align: center;
}

.flex-footer {
}