html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 28vh; /*Originall 25vw*/
}


#map {
    width: 60%; /*65%*/
    height: 55vh; /*55vh*/
}

a {
    color: inherit;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.marker-img {
    width: 300px;
    height: auto;
}

.marker-background h1 {
    color: blueviolet;
}

.info-container {
    width: 35vw; /*35vw*/
    height: auto; /*30vw*/
    margin: 20px;
}

#halfway-desc {
    color: grey;
    font-size: 12.5px;
}

.error-message {
    color: red;
}

.column-container {
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    flex-wrap: wrap;
}

.return-button { 
    margin: 0.75vw; /*20px*/
    text-align: center;
    padding: calc(10px + 0.3vw) calc(20px + 0.3vw); /* calc(10px + 0.5vw) calc(20px + 0.5vw)*/
    margin: calc(10px);
    border-radius: 40px;
    color: white;
    font-size: calc(0.65em + 0.25vw); /*1em*/
    text-decoration: none;
}

#return {
    background: url(../img/search-13-xxl.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 10% 50%;
    padding-left: calc(40px + 0.3vw);
    background-color: #FC5200;
}

#contact {
    background: url(../img/info.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 10% 50%;
    padding-left: calc(40px + 0.3vw);
    background-color: #34A827;
}

.return-button-container {
    display: flex;
    justify-content: center;
}

@media (max-width:800px) {

    #map {
        width: 100%;    
        height: 400px; /*55vh*/
    }

    .column-container {
        width: 100%;
    }

    .info-container {
        width: 80%; 
        font-size: 10px;
    }

    .return-button-container {
        width: 100%;
    }

    .marker-img {
        width: 150px;
        height: auto;
    }

    .marker-background {
        font-size: 10px;
        width: 150px;
        height: auto; 
    }

    .marker-background h1 {
        font-size: 15px;
    }
}