<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../css/footer.css">
  </head>
  <body>

    <!--Footer-->
    <div class="background-container">

      <h2>LET'S CONNECT</h2>

        <div class="social-media-container">

          <a href="">
            <img
              class="Youtube"
              src="../../assets/img/Youtube_2.png"
              onmouseover="this.src='../../assets/img/Youtube.png'"
              onmouseout="this.src='../../assets/img/Youtube_2.png'"
              alt="Youtube"
              height="50"
              width="50"
            />
          </a>
          <a href="">
            <img
              class="Github"
              src="../../assets/img/Github_2.png"
              onmouseover="this.src='../../assets/img/Github.png'"
              onmouseout="this.src='../../assets/img/Github_2.png'"
              alt="Github"
              height="50"
              width="50"
            />
          </a>
          <a href="">
            <img
              class="Instagram"
              src="../../assets/img/Instagram_2.png"
              onmouseover="this.src='../../assets/img/Instagram.png'"
              onmouseout="this.src='../../assets/img/Instagram_2.png'"
              alt="Instagram"
              height="50"
              width="50"
            />
          </a>
          <a href="">
            <img
              class="Linkedin"
              src="../../assets/img/Linkedin_2.png"
              onmouseover="this.src='../../assets/img/Linkedin.png'"
              onmouseout="this.src='../../assets/img/Linkedin_2.png'"
              alt="Linkedin"
              height="50"
              width="50"
            />
          </a>
          <a href="">
            <img
              class="Reddit"
              src="../../assets/img/Reddit_2.png"
              onmouseover="this.src='../../assets/img/Reddit.png'"
              onmouseout="this.src='../../assets/img/Reddit_2.png'"
              alt="Reddit"
              height="50"
              width="50"
            />
          </a>
          <a href="">
            <img
              class="Twitter"
              src="../../assets/img/Twitter_2.png"
              onmouseover="this.src='../../assets/img/Twitter.png'"
              onmouseout="this.src='../../assets/img/Twitter_2.png'"
              alt="Twitter"
              height="50"
              width="50"
            />
          </a>
        </div>

        <div class="copyright-container">
          <p>© 2024 Jasper Griffin</p>
        </div>
    </div>
    <!--End of footer-->

  </body>
</html>
