<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../css/header.css">
  </head>
  <body>
    <!--Header-->
    <div class="nav-container"> 
        
      
      <a href=""><img class="logo-img" src="C:\Users\jaspe\visual-studio-code-workspace\Cycling Cafe Generator\assets\img\logo.png" alt="Logo"></a>
    
      <div class="nav-left">
        <a href=""><b>Jasper Griffin</b></a>
      </div>
      
      <div class="nav-right">
        <a href="footer.html"><b>Projects</b></a>
        <a href=""><b>About</b></a>
      </div>
        
        
    </div>    
  </body>
</html>


<!--
Notes:
  - remove blue and underline of a tags
-->