<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="error.css">

    <%- include('templates/header.ejs') -%>
</head>
<body>

    <div class="container">
        <img src="../img/monday-typing-monkey.gif" alt="monkey-typing"> 
        <br />
        <br />
        <h2>Hmm... that didn't seem to be a legitimate Strava route</h2>

    </div>

    <%- include('templates/footer.ejs') -%>
</body>
</html>