<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="about.css">
</head>
    <body>
        <%- include('templates/header.ejs') -%>

        <div class="home-container">
            <div class="first-content-container">
                
                <div class="first-text-container">
                    <h1>Hi, I'm <span style="color:rgb(255, 0, 179);font-weight:bold">Jasper</span>👋</h1>
                    <br />
                    <br />
                    <h3>I'm a computer science graduate from Newcastle University</h3>
                    <br />
                    <p>I'm now a cyber security engineer working in London</p>
                    <br /> 
                </div>
                
                <div class="profile-pic-container">
                    <img src="../img/IMG_5752-ezgif.com-speed.gif" alt="waving-gif">
                </div>
            
            </div>
            
            <div class="second-content-container">

                <div class="second-pic-container">
                    <img src="../img/IMG_5752-ezgif.com-speed.gif" alt="riding-gif">
                </div>

                <div class="second-text-container">
                    <h3>Background</h3>
                    <br />
                    <p>
                        When I'm not behind my desk, you will usually find me outside on my bike or at a local cafe.
                        Both of these habits would then lead to the creation of the Find My Cafe which you can find under <a href="../projects">projects</a>
                    </p>
                        <br />
                    <p>
                        When I'm not on two wheels, you can find me behind the kitchen or trying to catch up on my endless (unread) book pile.
                        Both which may inspire future projects so watch this space 👀
                    </p>
                </div>

                
            </div>

            <div class="third-content-container">

                <div class="third-text-container">
                    <h3>Technologies</h3>
                    <br />
                    <p>My security background is primarily based around the Microsoft stacks (Azure, Sentinel, Defender XDR). 
                        Outside of SIEMs, I've also worked as a threat detection analyst, been involved with compliance, and upskilling employees with new tooling.</p>
                    <br />
                    <p>Outside of security, I'm also a keen programmer and have experience building apps in JavaScript, Java, PHP, and many more!</p>
                    <br />
                </div>
                <div class="third-pic-container">
                    <img src="../img/IMG_5752-ezgif.com-speed.gif" alt="coffee-gif">
                </div>
            </div>


            <div class="fourth-content-container">

                <div class="fourth-pic-container">
                    <img src="../img/IMG_04731-Trim-ezgif.com-crop.gif" alt="info-gif">
                </div>

                <div class="fourth-text-container">
                    <h3>Contact</h3>
                    <br />
                    <p>
                        If you want to reach out to me, you can use my socials below or my email <b>jaspergriffinjsg@hotmail.co.uk</b>
                        <br /><br />
                        Ciao!
                    </p>
                </div>
            </div>
            
        </div>


    </body>
</html>

<%- include('templates/footer.ejs') -%> 
