<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="about.css">
</head>
    <body>
        <%- include('templates/header.ejs') -%>

        <div class="home-container">

            <!--
            <div class="drop-down-container">
                <p>Drop down container</p>
            </div>
            -->

            <div class="first-content-container">
                
                <div class="first-text-container">
                    <h1>Hi, I'm <span style="color:rgb(255, 0, 179);font-weight:bold">Jasper</span>👋</h1>
                    <br />
                    <br />
                    <h3>I'm a computer science graduate from Newcastle University</h3>
                    <br />
                    <br />
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <br /> 
                </div>
                
                <div class="profile-pic-container">
                    <img src="../img/IMG_5752-ezgif.com-speed.gif" alt="waving-gif">
                </div>
            
            </div>
           

            
            <div class="second-content-container">

                <div class="second-pic-container">
                    <img src="../img/IMG_5752-ezgif.com-speed.gif" alt="riding-gif">
                </div>

                <div class="second-text-container">
                    <h3>Background</h3>
                    <br />
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>

                
            </div>

            <div class="third-content-container">

                <div class="third-text-container">
                    <h3>Technologies</h3>
                    <br />
                    <p>Security background: SIEM management, automation, tuning use cases, detection analyst, compliance, Data Loss Prevention (DLP)</p>
                    <br />
                    <p>Microsoft stack: Microsoft Azure, Microsoft Sentinel, Defender XDR</p>
                    <br />
                </div>
                <div class="third-pic-container">
                    <img src="../img/IMG_5752-ezgif.com-speed.gif" alt="coffee-gif">
                </div>
            </div>


            <div class="fourth-content-container">

                <div class="fourth-pic-container">
                    <img src="../img/IMG_04731-Trim-ezgif.com-crop.gif" alt="info-gif">
                </div>

                <div class="fourth-text-container">
                    <h3>Extra stuff</h3>
                    <br />
    
                    <p>Lorem ipsum dolor sit ametqui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
            
        </div>


    </body>
</html>

<%- include('templates/footer.ejs') -%> 
