<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="about.css">
</head>
    <body>
        <%- include('templates/header.ejs') -%>

        <div class="home-container">
            <div class="first-content-container">
                
                <div class="first-text-container">
                    <h1>Hi, I'm <span style="color:#785ef0;font-weight:bold">Jasper</span>👋</h1>
                    <br />
                    <br />
                    <h3>I'm a computer science graduate from Newcastle University</h3>
                    <br />
                    <p>I'm now a cyber security engineer working in London</p>
                    <br /> 
                </div>
                
                <div class="profile-pic-container">
                    <video autoplay loop muted playsinline>
                        <source src="../img/waving.mp4">
                    </video>
                </div>
            </div>
            
            <div class="second-content-container">
                
                <div class="second-pic-container">
                    <!--<img src="../img/waving.mp4" alt="riding-gif">-->
                    <video autoplay loop muted playsinline>
                        <source src="../img/keyboard.mp4">
                    </video>
                </div>

                <div class="second-text-container">
                    <h2>Background</h2>
                    <br />
                    <p>My security background is based around the Microsoft stacks (Azure, Sentinel, Defender XDR). 
                        Outside of these, I've also worked in threat detection, incident management, security posture, compliance, and upskilling teams with new tooling.</p>
                    <br />
                    <div class="tools">
                        <h3>Tools</h3>
                        <button class="tool-btn-1">Microsoft Azure</button><button class="tool-btn-2">Microsoft Sentinel</button><button class="tool-btn-3">Defender XDR</button><button class="tool-btn-4">Microsoft Intune</button><button class="tool-btn-5">Kali Linux</button>
                    </div>
                    <div class="development">.
                        <h3>Development</h3>
                        <button class="dev-btn-1">KQL</button><button class="dev-btn-2">JavaScript</button><button class="dev-btn-8">Node.js</button><button class="dev-btn-3">Java</button><button class="dev-btn-4">PHP</button><button class="dev-btn-5">TypeScript</button><button class="dev-btn-6">HTML/CSS</button><button class="dev-btn-7">C++</button>
                    </div>
                </div>

            </div>

            <div class="third-content-container">

                <div class="third-text-container">
                    <h2>Other stuff</h2>
                    <br />
                    <p>
                        When I'm not behind my desk, you will usually find me outside on my bike or at a local cafe.
                        Both of these habits would lead to the making of the Find My Cafe which you can find <u><b><a href="../">here</a></b></u>
                    </p>
                        <br />
                    <p>
                        When I'm not on two wheels, you can find me experimenting in the kitchen or trying to catch up on my endless (unread) book pile.
                        Both of which may inspire future projects. 
                        <br /><br />
                        Watch this <u><b><a href="./projects">space!</a></b></u> 👀
                    </p>
                </div>

                <div class="third-pic-container">
                    <video autoplay loop muted playsinline>
                        <source src="../img/coffee.mp4">
                    </video>
                </div>
            </div>


            <div class="fourth-content-container">

                <div class="fourth-pic-container">
                   <video autoplay loop muted playsinline>
                        <source src="../img/cycling.mp4">
                    </video>
                </div>

                <div class="fourth-text-container">
                    <h2>Contact</h2>
                    <br />
                    <p>
                        If you want to reach out to me or provide any feedback from my cafe website, you can use my socials below or my email <b><u>jaspergriffinjsg@hotmail.co.uk</u></b>
                        <br /><br />
                        Ciao! 👋       
                    </p>
                </div>
            </div>
            
        </div>


    </body>
</html>

<%- include('templates/footer.ejs') -%> 
