<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="error.css">

    <link rel="shortcut icon" type="x-icon" href="../img/favicon.png">

    <%- include('templates/header.ejs') -%>
</head>
<body>

    <div class="page-container">
        <div class="error-container">
            <img src="../img/sus-dog.gif" alt="sus-dog"> 
            <br />
            <br />
            <br />
            <h2>There was an error with sending the form</h2>
            <br /> 
            <p>Please try again</p>
        </div>   
        <br />
        <br />
        <div class="return-button">
            <a href="contact"><h3>Back to form</h3></a> 
        </div>
        
    </div>
</body>

</html>
<%- include('templates/footer.ejs') -%>
