<html>
<head>
    
    <link rel="stylesheet" type="text/css" href="home.css">
    <%- include('templates/header.ejs') -%>

</head>
    <body>

        <div class="home-container">

            <div class="first-container">
                <div class="first-text-container"></div>
                <p>Hi, I'm Jasper</p>
            </div>

            <div class="second-container">
                <p>Technologies</p>
            </div>

            <div class="third-container">
                <p>Extra curricular</p>
            </div>

            <div class="fourth-container">
                <p>Extra curricular</p>
            </div>

        </div>

        
    
        <%- include('templates/footer.ejs') -%>
    </body>
</html>