<html>
<head>
    
    <link rel="stylesheet" type="text/css" href="home.css">
    <%- include('templates/header.ejs') -%>

</head>
    <body>

        <div class="home-container">

            <div class="primary-content-container">
                <div class="primary-text-container">
                    <h1>Hi, I'm Jasper 👋</h1>
                    <br />
                    <br />
                    <h3>I'm a computer science graduate from Newcastle University</h3>
                    <br />
                    <br />
                    <h3>I'm now working as a security engineer based in London</h3>
                </div>
                <div class="profile-pic-container">
                    <img src="../img/08-59-41-863_512.gif" alt="waving-gif">
                </div>
            </div>
           

            <div class="second-container">

                <div class="second-text-container">
                    <h3>Technologies</h3>
                </div>
            </div>

            <div class="third-container">
                <p>Extra curricular</p>
            </div>

            <div class="fourth-container">
                <p>Extra curricular</p>
            </div>

        </div>

        
    
        <%- include('templates/footer.ejs') -%>
    </body>
</html>