<html>
<head>
    
    <link rel="stylesheet" type="text/css" href="about.css">
    <%- include('templates/header.ejs') -%>

</head>
    <body>

        <div class="home-container">

            <div class="primary-content-container">
                
                <div class="primary-text-container">
                    <h1>Hi, I'm Jasper 👋</h1>
                    <br />
                    <br />
                    <h3>I'm a computer science graduate from Newcastle University</h3>
                    <br />
                    <br />
                    <h3>I'm now working as a security engineer based in London</h3>
                </div>
                <div class="profile-pic-container">
                    <img src="../img/08-59-41-863_512.gif" alt="waving-gif">
                </div>
            </div>
           

            <div class="second-content-container">

                <div class="second-text-container">
                    <h3>Technologies</h3>
                    <p>Lorum Ipsir...</p>
                </div>
            </div>

            <div class="third-content-container">
                <h3>Extra curricular</h3>
                <p>Lorum Ipsir...</p>
            </div>

            <div class="fourth-content-container">
                <h3>Anything extra</h3>
                <p>Lorum Ipsir...</p>
            </div>

        </div>


    </body>
</html>

<%- include('templates/footer.ejs') -%> 
