<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="???.css">
    <%- include('templates/header.ejs') -%>
</head>
<body>
    <p>This projects page is working</p>
</body>

<%- include('templates/footer.ejs') -%>
</html>