<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="projects.css">
    <%- include('templates/header.ejs') -%>
</head>
<body>
    <div class="container">
        <div class="project-container">
            <a href="../">
                <img src="../img/cafe-example.PNG" alt="cafe-finder-background">  
                
                <div class="project-text-container">
                    <h3>Find my cafe generator</h3>
                    <hr />
                    <p>Description: Finding cycling-based cafes based off your chosen Strava route</p>
                    <p>Last updated: </p>
                </div>
            </a>

        </div>
        <div class="project-container">
            <img src="../img/London-Coffee-Tube-Map.png"alt="london-coffee-background" id="Blur-background">  
            
            <div class="project-text-container">
                <h3>London Coffee Underground</h3>
                <hr />
                <p>Description: Finding the best local cafes based off your London underground stop</p>
                <p>Expected release: TBA 🚧 </p>
            </div>
        </div>
    </div>

</body>

</html>
<%- include('templates/footer.ejs') -%>
