<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="error.css">

    <link rel="shortcut icon" type="x-icon" href="../img/favicon.png">

    <%- include('templates/header.ejs') -%>
</head>
<body>

    <div class="page-container">
        <div class="error-container">
            <div class="vid-container">
                <video autoplay loop muted playsinline>
                    <source src="../img/cat-typing.mp4" type='video/mp4' alt="cat-typing">
                </video>
            </div>
            <br />
            <br />
            <br />
            <h2>Thanks! Your email has been sent over my way</h2>
            <br /> 
            <p>I'll try to get back to you as soon as possible! :)</p>
        </div>   
        <br />
        <br />
        <div class="return-button">
            <a href="../"><h3>Back to home</h3></a> 
        </div>
        
    </div>
</body>

</html>
<%- include('templates/footer.ejs') -%>
