<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="footer.css">
  </head>
  <body>

    <!--Footer-->
    <div class="background-container">

      <h2>LET'S CONNECT</h2>

        <div class="social-media-container">

          <a href="https://www.strava.com/athletes/52873859">
            <img
              class="Strava"
              src="/img/Strava_2.png"
              onmouseover="this.src='/img/Strava.png'"
              onmouseout="this.src='/img/Strava_2.png'"
              alt="Strava"
              height="50"
              width="50"
            />
          </a>
          <a href="https://github.com/JasperGriffin">
            <img
              class="Github"
              src="img/Github_2.png"
              onmouseover="this.src='img/Github.png'"
              onmouseout="this.src='img/Github_2.png'"
              alt="Github"
              height="50"
              width="50"
            />
          </a>
          <a href="https://www.instagram.com/jasper.griffin.3/">
            <img
              class="Instagram"
              src="img/Instagram_2.png"
              onmouseover="this.src='img/Instagram.png'"
              onmouseout="this.src='img/Instagram_2.png'"
              alt="Instagram"
              height="50"
              width="50"
            />
          </a>
          <a href="https://www.linkedin.com/in/jasper-griffin/">
            <img
              class="Linkedin"
              src="img/Linkedin_2.png"
              onmouseover="this.src='img/Linkedin.png'"
              onmouseout="this.src='img/Linkedin_2.png'"
              alt="Linkedin"
              height="50"
              width="50"
            />
          </a>
          <a href="https://x.com/Jappy48">
            <img
              class="Twitter"
              src="img/Twitter_2.png"
              onmouseover="this.src='img/Twitter.png'"
              onmouseout="this.src='img/Twitter_2.png'"
              alt="Twitter"
              height="50"
              width="50"
            />
          </a>
        </div>

        <div class="copyright-container">
          <p>© 2025 Jasper Griffin</p>
        </div>
    </div>
    <!--End of footer-->

  </body>
</html>
