<html></html>
  <head>
    <link rel="stylesheet" type="text/css" href="header.css">
  </head>
  <body>
    <!--Header-->
    <div class="nav-container"> 
        
      
      <!--Website logo-->
      <div class="logo-container">
        <a href="">
          
          <img class="logo-img" src="/img/logo.png" alt="Logo">
        
          <div class="logo-name">
            Jasper Griffin
          </div>
        </a>
      </div>

      <!--Navbar right-->
      <nav >
        <ul>
          <div class="nav-right">
            <form action="">
              <button>Projects</button>
            </form>
            <form action="">
              <button>About</button>
            </form>
          </div>
          <div class="clear"></div>
        </ul>
      </nav>

    </div>
    <!--End of header-->

  </body>
</html>